*

!opengaterag/
!opengaterag/api/**
!scripts/
!scripts/**
!.github/
!pyproject.toml
!config.example.yml

.git
.github/workflows
.ruff_cache
.states
.venv
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.mypy_cache
.coverage
coverage.xml
htmlcov
logs
*.log
docs
opengaterag/api/tests
config.yml
.env
.env.*
