CONFIG_FILE=./config.example.yml

OPENGATELLM_URL=http://localhost:8000
OPENGATELLM_MODEL_NAME=openweight-embedding
OPENGATELLM_MODEL_VECTOR_SIZE=1024

## Must be the database of the API specified in OPENGATELLM_URL variable !
OPENGATELLM_DATABASE_URL=postgresql+asyncpg://postgres:changeme@localhost:5432/postgres

ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=changeme
