CONFIG_FILE=./config.example.yml

OPENGATELLM_URL=http://localhost:8000
OPENGATELLM_MODEL_NAME=openweight-embedding
OPENGATELLM_MODEL_VECTOR_SIZE=1024

POSTGRES_HOST=postgres
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=postgres

ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=changeme
