# General
CONFIG_FILE=./config.yml
COMPOSE_FILE=compose.yml
DEBUG=false

# Dependencies
OPENGATELLM_URL=http://localhost:8000
OPENGATELLM_MODEL_NAME=text-embedding-3-small

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USER=elasticsearch
ELASTICSEARCH_PASSWORD=changeme
